/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Akaya Telivigala', cursive;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* Header Styles */
header {
  background-color: #fbe89f;
  color: #005A58;
  padding: 20px 0;
  text-align: right;
  margin-right: 80px;
  margin-top: 40px;
  font-size: 20px;
}

/* Navigation Styles */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 50px;
  padding-left: 0;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #005A58;
  font-family: 'Akaya Telivigala', cursive;
}

.navbar a:hover {
  transform: scale(1.1);
  font-weight: bold;
  font-size: 18px;
}

/* Horizontal Line Styles */
.line {
  width: 1000px;
  height: 1.5px;
  color: #005A58;
  background-color: #005A58;
  position: absolute;
  top: 14%;
  right: 0;
}

/* Logo Styles */
.logo {
  width: 200px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 10px;
}

/* Main Heading Styles */
.center-heading {
  font-size: 110px;
  text-align: left;
  font-weight: bold;
  font-family: 'Akaya Telivigala', cursive;
  color: #005A58;
  margin-top: 130px;
  margin-left: 80px;
}

/* Subheading Styles */
.unterschrift {
  font-size: 30px;
  text-align: left;
  font-weight: bold;
  font-family: 'Akaya Telivigala', cursive;
  color: #005A58;
  margin-top: -50px !important;
  margin-left: 80px;
}

.text1 {
  font-size: 40px;
  text-align: left;
  font-weight: bold;
  font-family: 'Akaya Telivigala', cursive;
  color: #005A58;
  margin-top: -10px;
  margin-left: 80px;
}

.arrow {
  width: 450px;
  height: auto;
  position: absolute;
  margin-left: 300px;
  margin-top: -90px;
}

.drops {
  width: 50px;
  height: auto;
  position: absolute;
  margin-left: 150px;
  margin-top: -30px;
}

/* Slideshow Styles */
.slideshow-container {
  width: 500px;
  height: auto;
  position: absolute;
  top: 160px;
  right: 120px;

}
.text {
  color: #005A58;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading Animation */
.active {
  background-color: #fbe89f;
}

.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Styles */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
